<div>
<p>This is where all of the things go!</p>

<ul>
  <li>
    <h2>
      This will probably be a card
    </h2>
  </li>
  <li>
    <h2>
      This will probably be a card
    </h2>
  </li>
  <li>
    <h2>
      This will probably be a card
    </h2>
  </li>
  <li>
    <h2>
      This will probably be a card
    </h2>
  </li>
</ul>
</div>

<script src="./js/homepage.js"></script>